.cv-container {
    max-width: 850px;
    padding-top: 80px; 
    padding-bottom: 40px;
    margin: 0 auto;
    
    background-color: white;
    color: #333;
    
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.cv-content {
    padding: 0 40px;
}

.cv-container h1 { 
    color: #007BFF;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}

.cv-container h2 {
    color: #333;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    margin-top: 35px;
    font-size: 1.4rem;
}

.cv-container h3 {
    color: #555;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.cv-container ul {
    list-style-type: square;
    padding-left: 25px;
}

.contact-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.contact-info {
    text-align: left;
}
.contact-info p {
    margin: 5px 0;
}
.contact-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #eee; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    text-align: center;
    border: 2px solid #007BFF;
    overflow: hidden;
}
/* Permet de mettre la photo du CV sur toute la zone et non que ca zoom */
.contact-photo img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    border-radius: 50%; 
}