.projects {
    background-color: rgba(255, 255, 255, 0.95);
    color: #333;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.projects h2 {
    color: #007bff;
    margin-bottom: 40px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.project-card {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    flex-basis: 30%;
    text-align: center;
    transition: transform 0.3s ease;
    border-top: 5px solid #007bff;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.project-card p {
    color: #666;
    margin-bottom: 25px;
}

@media (max-width: 992px) {
    .project-card {
        flex-basis: 45%;
    }
}

@media (max-width: 600px) {
    .project-card {
        flex-basis: 100%;
    }
    .projects h2 {
        font-size: 2em;
    }
}